.header {
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0; 
    background-image: linear-gradient(to right, var(--color-blue), var(--color-blue), black);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    z-index: 1;
}

.logo,
.logowhite {
    width: 180px;
}

.navbar {
    height: 100%;
    display: fixed;
}

.navbar-toggler,
.btn-close {
    box-shadow: none !important;
    border: none;
}

.navbar-toggler {
    padding-left: 0;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.btn-close {
    /* margin: 0; */
    opacity: 1;
}

.offcanvas {
    background-color: white;
    padding: 30px 0 0 50px;
    z-index: 2;
}

.offcanvas-backdrop {
    z-index: 1;
}

.offcanvas {
    border: none !important;
}

.offcanvas-header {
    display: flex;
    gap: 5px;
}

ul {
    font-size: 22px;
    font-family: 'HelveticaNowBold';

}

ul .nav-link {
    color: var(--color-blue);
}

ul .nav-link:hover {
    color: var(--color-yellow);
}