.section-show-cars {
    width: 100%;
    background-image: linear-gradient(to right, var(--color-blue), var(--color-blue), black);
    color: var(--color-blue);
    margin-top: 65px;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 20px 30px 50px 30px; 
    font-family: 'HelveticaNowBold';
    /*background-image: url('../../../assets/images/photo-1529310356902-e45c5cd4e0d3.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/
    
}

.show-cars-form {
    background-color: white;
    border-radius: 10px;
    max-width: 1450px;
    padding: 25px; 
}

.show-cars-form p {
    font-size: 20px; 
}

label {
    font-size: 13px;
    margin-bottom: 3px;
    font-weight: bolder;
}

.input-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgba(201, 201, 207, 1);
}

.pickup-office, .return-office, .pickup-date, .return-date {
    width: 100%;
}

.input-text, .input-date, .input-time {
    background-color: inherit;
    width: 100%;
    outline: none;
    border: none; 
    color: var(--color-blue); 
    font-weight: bolder;
}

.btn-cars-container {
    display: flex;
    justify-content: center;
    align-items: end;
}

.btn-cars {
    background-color: #ffc72d;
    color: var(--color-blue);
    border-radius: 10px;
    padding: 9.5px 30px;
    border: none; 
    width: 100%;
    font-size: 18px;
    font-weight: bolder;
}

.btn-cars:hover {
    background-color: #fdbd0b;
}

/*a {
    color: inherit;
    text-decoration: none;
}*/
