:root {
    --color-blue: #073590;
    --color-yellow: #F8C02A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

main {
    width: 100%;
}


@font-face {
    font-family: 'HelveticaNowRegular';
    src: url('./assets/fonts/HelveticaNowTextRegular.woff2') format('woff2');
}

@font-face {
    font-family: 'HelveticaNowBold';
    src: url('./assets/fonts/HelveticaNowTextBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Condensed';
    src: url('./assets/fonts/roboto-condensed-v25-latin-ext_latin-700.woff2') format('woff2');
}


body {
    font-family: "HelveticaNowRegular", sans-serif;
}

.container {
    max-width: 1500px;
}