:root {
    --color-blue: #073590;
    --color-yellow: #F8C02A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'HelveticaNowRegular';
    src: url('./assets/fonts/HelveticaNowTextRegular.woff2') format('woff2');
}
@font-face {
    font-family: 'HelveticaNowBold';
    src: url('./assets/fonts/HelveticaNowTextBold.woff2') format('woff2');
}

body {
    font-family: "HelveticaNowRegular", sans-serif;
}