article {
    margin-bottom: 24px;
}

.card {
    padding: 20px;
    z-index: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    border: 3px solid var(--color-blue);
    background:linear-gradient(135deg, var(--color-blue) 50%, black 100%);
}

.card:hover {
    outline-offset: 3px;
    outline: 4px solid var(--color-blue);
}

.card p {
    font-family: 'HelveticaNowBold';
    color: white;
    line-height: 1.2;
    margin-bottom: 0;
    font-size: 16px;
}

.card img {
    width: 335px;
    margin: auto;
}

.daily-rate {
    font-size: 28px;
}

.car-brand-model {
    font-size: 24px;
}